---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Header from '../components/Header.astro';
import Banner from "../components/Banner.astro";
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Billede1 from "../assets/images/s1.svg";
import Billede2 from "../assets/images/s2.svg";
import Billede3 from "../assets/images/s3.svg"
import Billede4 from "../assets/images/s4.svg"
---
<MainLayout title="Titel">
	
     <section id="info">
	<Banner text="How To How to How to How to"></Banner>
 </section>


  <div class=" text text-center border-solid border-1 border-b border-[var(--secondary-color-100)]">
   <div class="m-8">
        <h2 class="text-center">Reducer dit</h2>
        <h5 class="text-center">klima-fodaftryk</h5>
        <h2 class=" "> i 4 små steps </h2>
   </div>
</div>


<section class=" section1 grid md:grid-cols-2 text-secondary-color-100 content-center  border-white-300 ">
    
<div class=" section1 grid content-center   md:border-r border-white-300  p-8  border-b border-white-300 pb-4 md:block">
					
					<h3 class="  mb-4 ">Step 1: Din mobil</h3>

					<p class="mb-8"><mark class="text-[var(--accent-color-200)] bg-transparent">1.</mark> Fjern alle de apps som du ikke har brugt i et stykke tid, eller kun har brugt enkelte gange. Vær ærlig og tapper! <br><br>
						<mark class="text-[var(--accent-color-200)] bg-transparent">2.</mark> Slet alle de unødvendige, glemte, gamle apps og spil som du har downloadet, men ikke rigtig brugt. De forbruger hundredvis af megabyte energi, selv når de ikke er i brug. <br><br>

					<mark class="text-[var(--accent-color-200)] bg-transparent">3.</mark>Husk at slette de kontoer (emails inkluderet) og tilhørende data, som du oprettede da du var 15 og har ikke brugt i et årti eller mere! Din mobil vil blive hurtigere og øge dets batterilevetid. <br> <br>

					<mark class="text-[var(--accent-color-200)] bg-transparent">4.</mark> Kig dine billeder og videoer igennem; ved at slette de overflødige, samt duplikationer, kan du befrie flere gigabytes af værdifuld lagringsplads. <br><br>
					Se guidelines om flere måder at rydde op i din mobil og tablet, under ressourcer</p>			
					<Image class=" block md:hidden w-[200px] mx-auto " src={Billede1} alt="mobilskrald"/></div>
			

				</div>
				
				<div class=" section2 flex justify-center pt-10 md:border-b">
					<Image class="-mt-4 mb-4 hidden md:block w-[280px] h-auto" src={Billede1} alt="mobilskrald"/></div>
				</div>
</section>



<section class=" grid md:grid-cols-2 text-secondary-color-100 content-center  border-white-300 ">

                <div class=" section3 flex justify-center pt-10 md:border-b md:border-r border-white-300  ">
					<Image class="-mt-4 mb-4 hidden md:block w-[280px] h-auto" src={Billede2} alt="computermand"/></div>
                
                        </div>
            
                <div class=" section4 grid content-center bg-gradient-to-r mt   p-8  border-b border-white-300 pb-4 md:block">
                        
                        <h3 class="  mb-4 ">Step 2: Din computer</h3>
<p class="mb-8"><mark class="text-[var(--accent-color-200)] bg-transparent">1.</mark> Sortér din personlige computer ud og slet filer som er duplikationer, eller er blevet ubrugelige. <br><br>
					 <mark class="text-[var(--accent-color-200)] bg-transparent">2.</mark>Gå i gennem dine billeder; slet alle duplikationer og slørede billeder. Husk også at tjekke dine videofiler og slet dem som er set eller bare er unødvendige. <br><br> 
					
					<mark class="text-[var(--accent-color-200)] bg-transparent">3.</mark> Vær forberedt på at finde nogle virkelige fantastiske ting på din computer! <br><br>
					 Se guidelines om flere måder at rydde din computer og harddrive op på, under ressourcer.</p>
			
					 <Image class=" block md:hidden w-[200px] mx-auto " src={Billede2} alt="computermand"/></div>
                

				</div>		
</section>



<section class=" grid md:grid-cols-2 text-secondary-color-100 content-center  border-white-300 ">
    
<div class=" section5 grid content-center   md:border-r border-white-300  p-8  border-b border-white-300 pb-4 md:block">
					
					<h3 class="  mb-4 ">Step 3: Dine E-mails</h3>

					<p class="mb-8"><mark class="text-[var(--accent-color-200)] bg-transparent">1.</mark> Filtrér dine emails med de ældste først og arkiver dem. <br> <br>
					 <mark class="text-[var(--accent-color-200)] bg-transparent">2.</mark>Afmeld de nyhedsbreve, som du alligevel ikke læser. <br> <br>
					  <mark class="text-[var(--accent-color-200)] bg-transparent">3.</mark>Find de lange email-korrespondancer, vælg den første og slet resten! <br> <br>
					<mark class="text-[var(--accent-color-200)] bg-transparent">4.</mark>Søg efter de gentagende navne, mail-adresser og nøgleord, og tage dig af dem med det samme. Vær modig og tryk på den slet knap. <br> <br>
					Se guidelines om flere måder at rydde op i din mailbox under ressourcer. </p>

				
					<Image class=" block md:hidden w-[200px] mx-auto " src={Billede3} alt="emailsskrald"/></div>
				</div>
				
				<div class="section6 flex justify-center pt-10 md:border-b">
					<Image class="-mt-4 mb-4 hidden md:block w-[280px] h-auto" src={Billede3} alt="emailsskrald"/></div>
	
				</div>
</section>



<section class="grid md:grid-cols-2 text-secondary-color-100 content-center  border-white-300 ">

                <div class=" section7 flex justify-center pt-10 md:border-b md:border-r border-white-300  ">
                    
						<Image class="-mt-4 mb-4 hidden md:block w-[300px] h-auto" src={Billede4} alt="mennesker"/></div>
                        </div>
            
                <div class=" section8 grid content-center bg-gradient-to-r mt   p-8  border-b border-white-300 pb-4 md:block">
                        
                        <h3 class="  mb-4 ">Step 4: Dine vaner</h3>

                   <p class="mb-8"> <mark class="text-[var(--accent-color-200)] bg-transparent">1.</mark> I stedet for at sende mails, så grib muligheden for at mødes fysisk og fremme den fysiske interaktion. <br> <br>
					<mark class="text-[var(--accent-color-200)] bg-transparent">2.</mark> Stop med at sende ‘ok’ og ‘tak’ mails! <br> <br>
					<mark class="text-[var(--accent-color-200)] bg-transparent">3.</mark> Behold de vigtige filer i ét enkelt cloud space, så der ikke er grund til at have de samme filer i alle computerne. Tænk før du sikkerhedskopiere. <br><br>
					<mark class="text-[var(--accent-color-200)] bg-transparent">4.</mark>Lav mindre ‘fast content’ og vær bevidst om dine videoer og billeder. <br> <br>
					<mark class="text-[var(--accent-color-200)] bg-transparent">5.</mark> Vær sikker på du kun sikkerhedskopiere de filer som du virkelig har brug for og de billeder, som du elsker. <br> <br>
					<mark class="text-[var(--accent-color-200)] bg-transparent">6.</mark> Små forandringer i dine internet vaner, såsom at have kameraet slået fra i virtuelle møder, reducere kvaliteten af streaming tjenester, formindske gaming-tiden, begrænse tiden på sociale meider og afmelde nyhedsbreve og mail-lister, har en væsentlig betydning for at reducere dit klima-fodtryk!. </p>
		
					<Image class=" block md:hidden w-[300px] mx-auto" src={Billede4} alt="mennesker"/></div>
                

				</div>		
</section>


	
        
		<div class=" section9 md:grid md:grid-cols-2">
			<div class="">
				
				<h2 class=" p-6 md:p-4">
				Registrer dit bidrag
			</h2>
			<p class="pl-6 pr-6 md:pb-6 "><mark class="bg-transparent font-bold text-white text-2xl">Den 15. marts 2025 </mark>, er dagen hvor du kan være med til at reducere CO2-udledningen.</p></div> 

			<div class=" p-6 md:p-6 md:flex md:flex-col md:self-center md:text-right  border-white">
				<h3 class="pb-6"> Digital skraldedag i tal</h3>
				<p class="pb-6">Indtil videre har vi opnået:</p>
				<ul>
				<li class="text-white text-2xl "><mark class="font-bold bg-transparent text-white text-3xl">1.184.747</mark> deltagere</li>
				<li class="text-white text-2xl "><mark class="font-bold bg-transparent text-white text-3xl"> 14.5</mark> M GB slettet</li>
				<li class="text-white text-2xl "><mark class="font-bold bg-transparent text-white text-3xl">3.625</mark> tons CO2 udledning forhindret om året</li> 
				</ul>
			</div>


	</div>

    

	<div class=" section10 grid grid-cols-2 p-6 md:p-6 gap-2  border-white border-b">
			<Button variant="main" size="small">Deltag her!</Button> 
		<div class="flex flex-row-reverse">			
			<Button variant="main" size="small">Del med en ven</Button></div>	
					
	</div>

</MainLayout>

<script>
	import { inView } from "motion";

	const inviewelement = document.querySelector(".section1");
	inView(
		inviewelement , () => {
			inviewelement.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})

		const inviewelement1 = document.querySelector(".section2");
	inView(
		inviewelement1 , () => {
			inviewelement1.classList.add("animate__animated","animate__fadeIn", "animate__delay-2s")
		})
		
		const inviewelement2 = document.querySelector(".section3");
	inView(
		inviewelement2 , () => {
			inviewelement2.classList.add("animate__animated","animate__fadeIn", "animate__delay-2s")
		})

		const inviewelement3 = document.querySelector(".section4");
	inView(
		inviewelement3 , () => {
			inviewelement3.classList.add("animate__animated","animate__fadeIn", "animate__delay-3s")
		})

		const inviewelement4 = document.querySelector(".section5");
	inView(
		inviewelement4 , () => {
			inviewelement4.classList.add("animate__animated","animate__fadeIn", "animate__delay-2s")
		})

		const inviewelement5 = document.querySelector(".section6");
	inView(
		inviewelement5 , () => {
			inviewelement5.classList.add("animate__animated","animate__fadeIn", "animate__delay-3s")
		})
		
		const inviewelement6 = document.querySelector(".section7");
	inView(
		inviewelement6 , () => {
			inviewelement6.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})

		const inviewelement7 = document.querySelector(".section8");
	inView(
		inviewelement7 , () => {
			inviewelement7.classList.add("animate__animated","animate__fadeIn", "animate__delay-2s")
		})


         const inviewelement8 = document.querySelector(".section9");
			inView(
		inviewelement8 , () => {
			inviewelement8.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})

		
         const inviewelement9 = document.querySelector(".section10");
			inView(
		inviewelement9 , () => {
			inviewelement9.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})

		     const inviewelement10 = document.querySelector(".section11");
			inView(
		inviewelement10 , () => {
			inviewelement10.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})

		     const inviewelement11 = document.querySelector(".section12");
			inView(
		inviewelement11 , () => {
			inviewelement11.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})

</script>