---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import Bitcoin from "../assets/images/Bitcoin.svg";
import thumbsup from "../assets/images/thumbsup.png";
import Banner from "../components/Banner.astro";
import Sustain from "../assets/images/ascii-art(5).png";
import Email from "../assets/images/e-mail.svg";
import Computer from "../assets/images/computer_weighh.svg";
import Kabel from "../assets/images/cabel.svg";
---
<MainLayout title="Titel">
<article class="">
  <Banner text="DIGITAL SKRALDEDAG" text="DIGITAL SKRALDEDAG"></Banner>
    <div class="grid grid-cols-2 border-white border-b h-screen">
		<div class="border-white border-r grid grid-rows-3">
			<h1 class="text-customColor flex self-center place-content-center object-cover">D. 15 Marts 2025</h1>
			<h2 class="text-white text-center pl-10 pr-10 ">En dag dedikeret til at rydde op i vores digitale skrald</h2>
		<p class="text-white">Knap</p>
		</div>
		<div class="">
		<Image class="h-screen w-full p-6" src={Bitcoin} alt="Musik som levevej" />
		</div>
	</div>
 </article>
<Image class="" src={Sustain} alt="Sustainable tekst"/>
 <section id="info">
	<Banner text="INFO INFO INFO"></Banner>
 </section>

 <section class="grid grid-cols-2">
	<div class="border-white border-r">
	
		<h2 class="border-white border-b">Vidste du??</h2>

        <div class="grid grid-cols-2 border-white border-b">
			<div>
			<Image src={Email} alt="email og pære"/></div>
			<div class="bg-neutral-900">
			<p class="">info</p></div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div class="bg-neutral-900">
			<p>info</p> </div>
			<div>
			<Image src={Computer} alt="email og pære"/></div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div>
			<Image src={Kabel} alt="email og pære"/></div>
			<div class="bg-neutral-900">
			<p>info</p></div>
		</div> 

		<div class="border-white border-b">
			<h2>
				Registrer dit bidrag
			</h2>
			<p>Den 15. marts 2025, er dagen hvor du kan være med til at reducere CO2-udledningen. Indtil videre har vi opnået: 
         1.184.747 deltagere
           14.5 M GB slettet
            3.625 tons CO2 udledning forhindret - årligt</p>

		<div class="grid grid-cols-2 border-white border-b">
				<div><p>Del med en ven</p></div>
				<div><p>Tilføj til kalender</p></div>
		</div>

		</div>
	</div>

	

	<div>
		<h2>Digital Skraldedag</h2>
		<p class="border-white border-b">Digitalt skrald refererer til unødvendige eller overflødige data og filer, som fylder digitale enheder, servere og netværk. Det kan være gamle e-mails, ubrugte apps, duplikate filer, eller data, der ikke længere har værdi, men som stadig lagres.
         Digitalt skrald kan bremse systemer, øge energiforbruget og bidrage til CO2-udledning fra datacentre. Reduktion af digitalt skrald handler om at rydde op og effektivisere digital opbevaring.</p>
		
		 <div class="grid grid-cols-2 border-white border-b">
			<div>
			<Image src={Email} alt="email og pære"/></div>
			<div>
			<p>info</p></div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div>
			<p>info</p> </div>
			<div>
			<Image src={Computer} alt="email og pære"/></div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div>
			<Image src={Kabel} alt="email og pære"/></div>
			<div>
			<p>info</p></div>
		</div>

	</div>

 </section>

</MainLayout>