---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import Bitcoin from "../assets/images/Bitcoin.svg";
import Banner from "../components/Banner.astro";
import Sustain from "../assets/images/ascii-art(5).png";
import Email from "../assets/images/e-mail.svg";
import Computer from "../assets/images/computer_weighh.svg";
import Kabel from "../assets/images/cabel.svg";
import Dino from "../assets/images/Dino.svg";
import Spam from "../assets/images/spam.svg";
import Forside from "../assets/images/forside.svg";
---
<MainLayout title="Titel">
<article class="">
  <Banner text="DIGITAL SKRALDEDAG" text="DIGITAL SKRALDEDAG"></Banner>
    <div class="grid grid-cols-2 border-white border-b h-screen">
		<div class="border-white border-r grid grid-rows-3">
			<h1 class="text-customColor flex self-center place-content-center object-cover">D. 15 Marts 2025</h1>
			<h2 class="text-white text-center pl-10 pr-10 ">En dag dedikeret til at rydde op i vores digitale skrald</h2>
		<p class="text-white">Knap</p>
		</div>
		<div class="object-fill">
		<Image class="h-screen w-full p-4" src={Forside} alt="Hånd med mobil" />
		</div>
	</div>
 </article>
<Image class="" src={Sustain} alt="Sustainable tekst"/>
 <section id="info">
	<Banner text="INFO INFO INFO"></Banner>
 </section>

 <section class="grid grid-cols-2">
	<div class="border-white border-r">
	
		<h2 class="border-white border-b md:p-10 md:text-center">Vidste du??</h2>

        <div class="grid grid-cols-2 border-white border-b">
			<div class="md:p-10">
			<Image src={Email} alt="email og pære"/></div>
			<div class="bg-[var(--secondray-color-300)] md:p-6">
				<h1 class="text-[var(--primary-color-500)] text-right">1</h1>
			<p class="text-[var(--primary-color-500)] text-right">E-mail udleder, i gennnemsnit, 4g CO2</p>
				<p class="text-[var(--primary-color-500)] text-right">= kulstof-fodtrykket af en lyspære tændt i 6 minutter! </p>
		</div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div class="bg-[var(--accent-color-100)]">
			<p>info</p> </div>
			<div class="md:p-20 md: flex md: justify-center">
			<Image src={Computer} alt="email og pære"/></div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div class="md:p-10 md: flex md: justify-center">
			<Image src={Kabel} alt="email og pære"/></div>
			<div class="bg-[var(--secondary-color-200)]">
			<p>info</p></div>
		</div> 

		<div class="border-white border-b">
			<h2 class="md:p-6 md:text-center">
				Registrer dit bidrag
			</h2>
			<div class="md:p-10">
			<p class="md:pb-6">Den 15. marts 2025, er dagen hvor du kan være med til at reducere CO2-udledningen. Indtil videre har vi opnået:</p> 
            <li class="text-white">1.184.747 deltagere</li>
            <li class="text-white"> 14.5 M GB slettet</li>
            <li class="text-white">3.625 tons CO2 udledning forhindret - årligt</li> </div>
			</div>

		<div class="grid grid-cols-2 md:p-6">
				<div><h3 class="text-white text-center">Del med en ven</h3></div>
				<div><h3 class="text-white text-center">Tilføj til kalender</h3></div>
		</div>

		</div>
	</div>

	

	<div>
		<h2 class="md:p-10">Digital Skraldedag</h2>
		<p class="border-white border-b md:pt-0 md:pb-10 md:pl-10">Digitalt skrald refererer til unødvendige eller overflødige data og filer, som fylder digitale enheder, servere og netværk. Det kan være gamle e-mails, ubrugte apps, duplikate filer, eller data, der ikke længere har værdi, men som stadig lagres.
         Digitalt skrald kan bremse systemer, øge energiforbruget og bidrage til CO2-udledning fra datacentre. Reduktion af digitalt skrald handler om at rydde op og effektivisere digital opbevaring.</p>
		
		 <div class="grid grid-cols-2 border-white border-b">
			<div class="md:p-10 md: flex md: justify-center">
			<Image src={Dino} alt="email og pære"/></div>
			<div class="bg-[var(--secondary-color-200)]">
			<p>info</p></div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div class=" bg-[var(--accent-color-100)]">
			<p>info</p> </div>
			<div class="md:p-10 md: flex md: justify-center">
			<Image src={Bitcoin} alt="email og pære"/></div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div class="md:p-28 md: flex md: justify-center">
			<Image src={Spam} alt="email og pære"/></div>
			<div class="bg-[var(--secondray-color-300)]">
			<p>info</p></div>
		</div>

	</div>

 </section>

</MainLayout>