---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import Bitcoin from "../assets/images/Bitcoin.svg";
import Banner from "../components/Banner.astro";
import Sustain from "../assets/images/ascii-art(5).png";
import Email from "../assets/images/e-mail.svg";
import Computer from "../assets/images/computer_info.svg";
import Kabel from "../assets/images/cabel_info.svg";
import Dino from "../assets/images/Dino.svg";
import Spam from "../assets/images/spam_info.svg";
import Forside from "../assets/images/forside_2.svg";
---
<MainLayout title="Titel">
<article class="">
  <Banner text="Digital Skraldedag Digital Skraldedag"></Banner>
    <div class="grid grid-cols-2 border-white border-b h-screen">
		<div class="  self-center place-content-center">
			<h1 class="text-customColor flex object-cover place-content-center">D. 15 Marts 2025</h1>
			<h2 class="text-white text-center pl-10 pr-10 ">En dag dedikeret</h2>
				<h5 class="text-center"> til at rydde op i</h5>
				<h2 class="text-center"> vores digitale skrald</h2> 
		<div class="flex justify-center md:pt-10"> <Button variant="main" size="large">Deltag her</Button></div>
		
		</div>
		<div class="object-fill border-white border-l">
		<Image class="h-screen w-full p-4" src={Forside} alt="Hånd med mobil" />
		</div>
	</div>
 </article>
<Image class="" src={Sustain} alt="Sustainable tekst"/>
 <section id="info">
	<Banner text="Info Info Info Info Info Info Info"></Banner>
 </section>

 <section class="grid grid-cols-2">
	<div class="border-white border-r">
	
		<h2 class="border-white border-b md:p-10 md:text-center">Vidste du??</h2>

        <div class="grid grid-cols-2 border-white border-b">
			<div class="md:p-10 flex md: justify-center">
			<Image src={Email} alt="email og pære"/></div>
			<div class="bg-[var(--secondray-color-300)] md:pt-4 md:pb-6 md:pr-6">
				<h1 class="text-[var(--primary-color-500)] text-right">1</h1>
			<p class="text-[var(--primary-color-500)] text-right"><b><i>E-mail</i></b> udleder, i gennnemsnit, 4g CO2</p>
				<p class="text-[var(--primary-color-500)] text-right"><b><i></i>= kulstof-fodtrykket af en lyspære tændt i 6 minutter!</i></b></p>
		</div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div class="bg-[var(--accent-color-100)]">
			<div class="md:p-6">
			<p>I 2022, blev ca. <b><i>70 millioner</i></b> servere brugt til at lagre data.</p>
		    <p> De udledte hver især:</p>
		    <h1 class="text-white" >1-2 tons</h1>
	        <p><b><i>co2</i></b></p> 
		    <h1 class="text-white">20 mill.</h1>
			<h3 class="text-white"><b><i>af dem blev til e-waste</i></b></h3>
		    </div>
	    </div>
			
		<div class="md: flex md: justify-center">
			<Image src={Computer} alt="email og pære"/></div>
		</div>
		 <div class="grid grid-cols-2 border-white border-b">
			<div class="md:p-10 md: flex md: justify-center">
			<Image src={Kabel} alt="kabel"/></div>
			<div class="bg-[var(--secondary-color-200)] md:p-6 text-right content-center">
			<p class="text-[var(--primary-color-300)]">Internettet producerer mere end </p>
		<h1 class="text-[var(--accent-color-100)]">900</h1>
	    <p class="text-[var(--primary-color-300)]"><b><i>millioner tons CO2 hvert år!</i></b></p></div>
		</div> 
		

		<div class="border-white border-b">
			<h2 class="md:p-6 md:text-center">
				Registrer dit bidrag
			</h2>

			<div class=" md:p-6">
                <p class="md:pb-6">Den 15. marts 2025, er dagen hvor du kan være med til at reducere CO2-udledningen. Indtil videre har vi opnået:</p> 
                <li class="text-white">1.184.747 deltagere</li>
                <li class="text-white"> 14.5 M GB slettet</li>
                <li class="text-white">3.625 tons CO2 udledning forhindret - årligt</li> </div>
                
                      <div class="grid grid-cols-2 md:p-6">
                        <Button variant="main" size="small">Del med en ven</Button>
                        <Button variant="main" size="small">Tilføj til kalender</Button>
                       </div>


		</div>
	</div>

	

	<div>
		<h2 class="md:pt-10 md:pl-10 md:pr-10 md:pb-4">Digital Skraldedag</h2>
		<p class="border-white border-b md:pt-0 md:pb-10 md:pl-10">Digitalt skrald refererer til unødvendige eller overflødige data og filer, som fylder digitale enheder, servere og netværk. Det kan være gamle e-mails, ubrugte apps, duplikate filer, eller data, der ikke længere har værdi, men som stadig lagres.
         Digitalt skrald kan bremse systemer, øge energiforbruget og bidrage til CO2-udledning fra datacentre. Reduktion af digitalt skrald handler om at rydde op og effektivisere digital opbevaring.</p>
		
		 <div class="grid grid-cols-2 border-white border-b">
			<div class="md:p-10 md: flex md: justify-center">
			<Image src={Dino} alt="email og pære"/></div>
			<div class="bg-[var(--accent-color-100)] text-right md:p-6">
				<h1 class="text-white">91%</h1>
			<p>af internetsider får <b><i>ingen trafik</i></b> fra google</p></div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div class=" bg-[var(--secondary-color-200)] md:p-6 content-center">
			<p class="text-[var(--primary-color-300)]"><b>Det kræver mere energi at “mine” efter BitCoin, end hele New Zealand udleder på</b></p>
		<h1 class="text-[var(--accent-color-100)]">1 år</h1> </div>
			<div class="md:p-10 md: flex md: justify-center">
			<Image src={Bitcoin} alt="email og pære"/></div>
		</div>

		<div class="grid grid-cols-2 border-white border-b">
			<div class="md:p-28 md: flex md: justify-center">
			<Image src={Spam} alt="email og pære"/></div>
			<div class="bg-[var(--secondray-color-300)] content-center text-right md:pr-6">
				<h1  class="text-[var(--primary-color-100)]">320</h1>
			<p class="text-[var(--primary-color-100)]">
				<b> <i>billioner</i></b> emails er sendt hver dag!</p>
		<h1  class="text-[var(--primary-color-100)]">62</h1>
	<p class="text-[var(--primary-color-100)]"> trillion spam emails  bliver sendt hvert år</p>
    <p class="text-[var(--primary-color-100)]"><b><i>Det udleder 20 millioner tons af CO2!</i></b></p></div>
		</div>
   <div class=" grid grid-cols-1 content-center">
		<Button variant="round" size="small">Forsæt</Button>
   </div>
	</div>
	

 </section>

</MainLayout>