---
import dino from '../assets/images/Dino.svg';
import computer from "../assets/images/computer_weighh.svg"
import email from "../assets/images/e-mail.svg"
import wifi from "../assets/images/wifi.svg"
import step1 from "../assets/images/step1.svg"
import step2 from "../assets/images/step2.svg"
import step3 from "../assets/images/step3.svg"
import step4 from "../assets/images/step4.svg"
import kabel from "../assets/images/Cabel.svg"
import spam from "../assets/images/spam.svg"

---

<div class="flex flex-row items-center h-[540px] m-2 overflow-x-scroll gap-5 scroll-snap-x mandatory">

    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px] object-cover" src={dino} alt="dino"/>
            <!-- <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div> -->
            <p class="text-center">Guidelines for individer</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px] object-cover" src={computer} alt="computer"/>
            <!-- <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div> -->
            <p class="text-center">Guidelines for firmaer</p>
    </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px] object-cover" src={email} alt="email"/>
            <!-- <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div> -->
            <p class="text-center">Guidelines for skoler</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px] object-cover" src={wifi} alt="wifi"/>
            <!-- <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div> -->
            <p class="text-center">Guidelines for kommuner</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px] object-cover" src={step1} alt="step1"/>
            <!-- <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div> -->
            <p class="text-center">Sådan rydder du op på din computer</p>
         </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px] object-cover" src={step2} alt="step2"/>
            <!-- <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div> -->
            <p class="text-center">Sådan rydder du op i dine emails</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px] object-cover" src={step3} alt="step3"/>
            <!-- <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div> -->
            <p class="text-center">Sådan rydder du op i din mobil </p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px] object-cover" src={step4} alt="step4"/>
            <!-- <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div> -->
            <p class="text-center">Deltager data samling 1</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px] object-cover" src={kabel} alt="kabel"/>
            <!-- <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div> -->
            <p class="text-center">Deltager data samling 2</p>
        </a>
    </div>
    <div class="transition-all ease-in-out hover:scale-105">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px] object-cover" src={spam} alt="spam"/>
            <!-- <div class="bg-gray-500 w-[300px] h-[250px] object-cover"></div> -->
            <p class="text-center">Markedsføring materialer</p>
        </a>
    </div>

</div>