---
import { Image } from 'astro:assets';
import dino from '../assets/images/Dino.svg';
import computer from "../assets/images/computer_weighh.svg"
import email from "../assets/images/e-mail.svg"
import wifi from "../assets/images/wifi.svg"
import step1 from "../assets/images/step1.svg"
import step2 from "../assets/images/step2.svg"
import step3 from "../assets/images/step3.svg"
import step4 from "../assets/images/step4.svg"
import kabel from "../assets/images/Cabel.svg"
import spam from "../assets/images/spam.svg"

---

<div class="flex flex-row items-center h-[540px] m-2 overflow-x-auto gap-5 scroll-snap-x mandatory whitespace-nowrap">
 
    <div class="w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="" target="_blank">
            <Image class="h-[250px]" src={dino} alt="dino"/>
            <p class="text-center">Guidelines for individer</p>
        </a>
    </div>

    <div class="w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="" target="_blank">
            <Image class="h-[250px]" src={computer} alt="computer"/>
            <p class="text-center">Guidelines for firmaer</p>
        </a>
    </div>

    <div class="w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="" target="_blank">
            <Image class="h-[250px]" src={email} alt="email"/>
            <p class="text-center">Guidelines for skoler</p>
        </a>
    </div>

    <div class="w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="" target="_blank">
            <Image class="h-[250px]" src={wifi} alt="wifi"/>
            <p class="text-center">Guidelines for kommuner</p>
        </a>
    </div>

    <div class="w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px]" src={step1} alt="step1"/>
            <p class="text-center">Sådan rydder du op på din computer</p>
        </a>
    </div>

    <div class="w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px]" src={step2} alt="step2"/>
            <p class="text-center">Sådan rydder du op i dine emails</p>
        </a>
    </div>

    <div class="w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px]" src={step3} alt="step3"/>
            <p class="text-center">Sådan rydder du op i din mobil</p>
        </a>
    </div>

    <div class="w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px]" src={step4} alt="step4"/>
            <p class="text-center">Deltager data samling 1</p>
        </a>
    </div>


    <div class="w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px]" src={kabel} alt="kabel"/>
            <p class="text-center">Deltager data samling 2</p>
        </a>
    </div>

    <div class="w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="" target="_blank">
            <Image class="w-[270px] h-[250px]" src={spam} alt="spam"/>
            <p class="text-center">Markedsføring materialer</p>
        </a>
    </div>
</div>


<style>
    .scroll-snap-x {
        scroll-snap-type: x mandatory;
    }

    .scroll-snap-align-center {
        scroll-snap-align: center;
    }
</style>
