---
import { Image } from 'astro:assets';
import dino from '../assets/images/Dino.svg';
import computer from "../assets/images/computer_weighh.svg"
import email from "../assets/images/e-mail.svg"
import wifi from "../assets/images/wifi.svg"
import step1 from "../assets/images/s1.svg"
import step2 from "../assets/images/s2.svg"
import step3 from "../assets/images/s3.svg"
import step4 from "../assets/images/s4.svg"
import kabel from "../assets/images/Cabel.svg"
import spam from "../assets/images/spam.svg"

---

<div class="flex flex-row items-center h-[400px] overflow-x-auto gap-5 scroll-snap-x mandatory whitespace-nowrap border-b border-[var[--secondary-color-100)]">
 
    <div class=" m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="https://drive.google.com/file/d/1LZAIsGLSJl7fOdqdp53YscYc0XTd2xv3/view" target="_blank">
            <Image class="w-full h-full object-contain  border border-secondary-color-100 hover:border-[var(--accent-color-300)]" src={dino} alt="dino"/>
            <h4 class="text-center">Guidelines for individer</h4>
        </a>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center ">
        <a href="https://drive.google.com/file/d/1ZUIJl_EztcJmYF7GVDFN1LMPRtqM_7nM/view" target="_blank">
            <Image class="w-full h-full object-contain  border border-secondary-color-100 hover:border-[var(--accent-color-300)]" src={computer} alt="computer"/>
            <h4 class="text-center">Guidelines for firmaer</h4>
        </a>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="https://drive.google.com/file/d/1dDw_YexhYGTxQIKMqcLMLnyekOTkTpJ0/view" target="_blank">
            <Image class="w-full h-full object-contain  border border-secondary-color-100 hover:border-[var(--accent-color-300)]" src={email} alt="email"/>
            <h4 class="text-center">Guidelines for skoler</h4>
        </a>
    </div>


    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="https://drive.google.com/file/d/1MRiPX57JrppZY4gwtKeKeCc0_rZX040P/view" target="_blank">
            <Image class="w-full h-full object-contain border border-secondary-color-100 hover:border-[var(--accent-color-300)]" src={wifi} alt="wifi"/>
            <h4 class="text-center">Guidelines for kommuner</h4>
        </a>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center justify-items-center">
        <a href="https://drive.google.com/file/d/1i8rKagvbCXk4JciaEg896YUUti3bjLbU/view" target="_blank">
            <Image class="w-full h-full object-contain  border border-secondary-color-100 hover:border-[var(--accent-color-300)]" src={step2} alt="step1"/>
            <h4 class="text-center">Sådan rydder du op på din computer</h4>
        </a>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="https://drive.google.com/file/d/1Capnwt-idzQoVtV1jNTM2HeJnvYVNQIi/view" target="_blank">
            <Image class="w-full h-full object-contain  border border-secondary-color-100 hover:border-[var(--accent-color-300)]" src={step3} alt="step2"/>
            <h4 class="text-center">Sådan rydder du op i dine emails</h4>
        </a>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="https://drive.google.com/file/d/1fN0bgV8R1WAirubd_1QlSH17lYHt6eE_/view" target="_blank">
            <Image class="w-full h-full object-contain border border-secondary-color-100 hover:border-[var(--accent-color-300)]" src={step1} alt="step3"/>
            <h4 class="text-center">Sådan rydder du op i din mobil</h4>
        </a>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="https://docs.google.com/spreadsheets/d/1LvTHVLLRsCICSQ-FMwtqy1whl1PlQFKy/edit?gid=631660431#gid=631660431" target="_blank">
            <Image class="w-full h-full object-contain  border border-secondary-color-100 hover:border-[var(--accent-color-300)]" src={step4} alt="step4"/>
            <h4 class="text-center">Deltager data samling 1</h4>
        </a>
    </div>


    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="https://docs.google.com/spreadsheets/d/1k56qMJsp3zgDhlsCngBhdjaSHP_z9TqM/edit?gid=464700726#gid=464700726" target="_blank">
            <Image class="w-full h-full object-contain  border border-secondary-color-100 hover:border-[var(--accent-color-300)]" src={kabel} alt="kabel"/>
            <h4 class="text-center">Deltager data samling 2</h4>
        </a>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <a href="https://trello.com/b/YzROvY3M/digital-cleanup-day" target="_blank">
            <Image class="w-full h-full object-contain  border border-secondary-color-100 hover:border-[var(--accent-color-300)]" src={spam} alt="spam"/>
            <h4 class="text-center">Markedsføring materialer</h4>
        </a>
    </div>
</div>


<style>
    .scroll-snap-x {
        scroll-snap-type: x mandatory;
    }

    .scroll-snap-align-center {
        scroll-snap-align: center;
    }
</style>
