---
import Link from '../components/Link.astro'
import { Image } from 'astro:assets';
import logo from "../assets/images/logo_4.svg"
import x from "../assets/images/x.svg";
import tiktok from "../assets/images/tiktok.svg";
import youtube from "../assets/images/youtube.svg";
import linkedin from "../assets/images/in_2.svg";
import facebook from "../assets/images/facebook.svg";
import instagram from "../assets/images/insta.svg";

---

<div class="py-8 max-w-screen-xl mx-auto text-[var(--secondary-color-100)]" >
    
    <div class="justify-items-center pb-8 grid grid-cols-1 md:grid-cols-4 gap-6 text-center md:text-left w-full">
       
        <section class="hidden md:block"> <link rel="stylesheet" href="">
          <a href="/" target="_blank">
            <Image class="w-[200px] h-[156px] ml-[-20px]" src={logo} alt="logo"/>
           
        </a>
        </section>

             <section> 
                 <h4 class="mb-4"> Lad os gøre verden grønnere </h4>
                 <p class="mb-1">Roosikrantsi 3, Tallinn 10119, Estonia <br>
                        Reg. code - 80562203</p>
                <p class="mb-1">Digital@ldiw.org</p>
                   
             </section>

        <section class="text-secondary-color-100 mb-4  "> 

            <div class="mb-1"> <Link href="https://www.worldcleanupday.org/blog" target="_blank">Blog</Link> </div>
            <div class="mb-1"> <Link href="https://trello.com/b/YzROvY3M/digital-cleanup-day" target="_blank">Marketing Materiale</Link> </div>
            <div class="mb-1"> <Link href="https://drive.google.com/file/d/1a0sgGo1n8edioZ4Itm6DNqTPlmKWGfTj/view" target="_blank">Forfatning</Link> </div>
            <div class="mb-1">  <Link href="https://www.worldcleanupday.org/get-involved" target="_blank">Tilmeld foreningen</Link> </div>           
           
        </section>

        <div class="grid grid-cols-2 gap-4 md:block"> 

             <section class="ml-20 md:ml-0">
                        <div class="  gap-5 md:grid grid-cols-6 justify-items-center pb-8"> 
                            
                            <a href="https://x.com/i/flow/login?redirect_after_login=%2Fletsdoitworld" target="_blank">
                                <Image class="w-8 h-8 my-2" src={x} alt="x"/>
                            
                            </a>
                            
                            <a href="https://www.tiktok.com/@worldcleanupday.global" target="_blank">
                                <Image class="w-8 h-8 my-2" src={tiktok} alt="tiktok"/>
                            </a>
                            
                            <a href="https://www.youtube.com/worldcleanupday" target="_blank">
                                <Image class="w-8 h-8 my-2" src={youtube} alt="youtube"/>
                            </a>
                            
                            <a href="https://www.linkedin.com/company/world-cleanup-day-official/" target="_blank">
                                <Image class="w-8 h-8 my-2" src={linkedin} alt="linkedin"/>
                            </a>
                            
                            <a href="https://www.facebook.com/worldcleanupday.global" target="_blank">
                                <Image class="w-8 h-8 my-2" src={facebook} alt="facebook"/>
                            </a>

                            <a href="https://www.instagram.com/worldcleanupday.global" target="_blank">
                                <Image class="w-8 h-8 my-2" src={instagram} alt="instagram"/>
                            </a>
            </div>
       
              </section>

        <section> <link rel="stylesheet" href="">
                <a href="/" target="_blank">
                    <img src="src/assets/images/logo_4.svg" alt="TikTok" class=" block md:hidden w-[200px] h-[156px] ml-[-20px]">
             </a>
        </section>



        </div>
       

    </div>

   

</div>